<h1>Tweets</h1>
<%= link_to "Post a tweet", new_tweet_path %>
</br>
<%= form_tag root_path, method: :get do %>
	<%= text_field_tag :query, @query, placeholder: 'Search' %>
	<%= submit_tag "Search" %>
<% end %>
</br>
<% @tweets.each do |tweet| %>
	<% if @query.present? %>
		<div class="tweet"><%= highlight(tweet.body, @query) %></br>
	<% else %>
		<div class="tweet"><%= truncate(tweet.body, length:80, omission: '..(continue)') %></br>
	<% end %>
			- <%= tweet.created_at %> by
			<strong><%= tweet.author %></strong> (<%= pluralize tweet.body.length, 'character' %>)
		</br>
		<%= link_to "View more", tweet_path(tweet) %>
		</div>
<% end %>
